#########################################################################################################
# .gitignore in root of project
#  created for nodw.js with express
# exclude everythin and explicity include what is needed to run project and stored in git.
#########################################################################################################

/*
!.gitignore
!*.txt
!*.js
!*.ts
!*.md
LICENSE
!*.json
!/src
!/test
!/documentation
!/.github
#########################################################################################################